body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}


.location-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.location-label {
  font-weight: bold;
  font-size: 1.1rem;
}

.location-dropdown {
  padding: 5px 10px;
  font-size: 1rem;
  border: 2px solid #888;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.location-dropdown:hover {
  border-color: #008cba;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location-dropdown:focus {
  outline: none;
  border-color: #008cba;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.fetch-data-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    width: 100px;
    transition: all 0.3s ease-out;
}
  
  .fetch-data-btn:hover {
    background-color: #3e8e41;
      transform: scale(1.1);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  }



  